*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* ---------------------header--------------------- */
#header{
display:flex;
background-color: #ff0000c7;

justify-content: space-between;
height: 100px;
/*  */
}
#header img{
width: 60px;
border-radius: 50%;
margin-left: 30px;
margin-top: 19px;
}
#header p{
 text-decoration: none;
 margin-left: 15px;
 font-size: 25px;
 color:rgb(230, 239, 244);
 font-style:inherit;
 float: right;
 margin-top: 35px;
}
#header ul{
list-style: none;
display: flex;
margin-top: 38px;
}
#header ul a{
text-decoration: none;
padding: 5px;
font-size: 23px;
 color:rgb(230, 239, 244);
margin: 15px;
font-style: normal;
font-weight:500;
}
#header ul a:hover{
 color: rgb(0, 255, 213);
 
}
/* ----------main----------- */
#about{
    display: flex;
     align-items: center;
    justify-content: space-between;
    background-color: #1c1c1cf1;
}
#photoo img {
    width:65% ;
   margin-top: 15%;
   margin-left: 25%;
border-radius: 30px;
}
#about p{
    margin-top: 2%;
    margin-left: 17%;
    font-size: 22px;
    font-weight: 500;
   line-height: 25px;
   color: #f2f2f2f6;

   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#about h1{
    margin-top:2%;
    margin-left:20px ;
        margin-left: 40%;
        color: #fff;
        font-weight: 700;
}
#text h2{
 font-size: 40px;
 margin-top: 2%;
 margin-left: 35%;
}
/* table */
#back {
    background-color: #2c2b2b6c;
}
.table-1  {
     text-align: center;
     border-radius: 15px;  
     width: 80%;
     margin: 40px auto;
     background: #111;
     color: #fff;
     border-collapse: collapse;
     font-family: Arial, sans-serif;
}
.table-1 thead {
  background-color: #f03535c7;
}
.table-1 th {
  padding: 16px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid #222;
}
.table-1 td {
  padding: 14px;
  border-bottom: 1px solid #4f4d4d;
  font-size: 15px;
}
.table-1 tbody tr:hover {
  background: #782929;
  transition: 0.3s;
}
#Note {
    color: #0d0d0d;
    text-align: center;
   padding: 5%;
   background-color: #986c6c52;
   width: 60%;
   margin-left: 20%;
   border-radius: 3%;
   margin-bottom: 6%;
}
#Note h2{
    font-size: 40px;
    margin-bottom: 5%;
}
#Note p{
    display: block;
    font-size: 20px;
    line-height: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
/* -------------------footer---------------- */
#footer{
    background-color: #ff0000c7;
    height: 100px;
}
#footer p{
 text-align: center;
 font-size: 25px;
padding-top: 30px;
color: #ffffffde;

}
#icons{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px; 
}
#icons a{
 font-size: 22px; 
  margin-top: 1%;
  color: inherit;
}

@media (max-width: 600px) {

  #header{
    flex-direction: row;
    align-items: center;
    height: 70px;
    padding: 0 10px;
  }

  #header img{
    width: 45px;
    margin: 0;
  }

  #header p{
    margin: 0 10px;
    padding-top: 10px;
    font-size: 18px;
    float: right;
    white-space: nowrap;
  }

  #header ul{
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  #header ul a{
    font-size: 16px;
    margin: 0 6px;
    padding: 0;
  }
}

@media (max-width: 900px) {

  #header{
    flex-direction: row;
    align-items: center;
    height: 70px;
    padding: 0 10px;
  }

  #header img{
    width: 45px;
    margin: 0;
  }

  #header p{
    margin: 0 10px;
    padding-top: 10px;
    font-size: 18px;
    float: right;
    white-space: nowrap;
  }

  #header ul{
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  #header ul a{
    font-size: 16px;
    margin: 0 6px;
    padding: 0;
  }
}
