*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* ---------------------header--------------------- */
#header{
display:flex;
background-color: #ff0000c7;
justify-content: space-between;
height: 100px;
}
#header img{
width: 60px;
border-radius: 50%;
margin-left: 30px;
margin-top: 19px;
}
#header p{
 text-decoration: none;
 margin-left: 15px;
 font-size: 25px;
 color:rgb(230, 239, 244);
 font-style:inherit;
 float: right;
 margin-top: 35px;
}
#header ul{
list-style: none;
display: flex;
margin-top: 38px;
}
#header ul a{
text-decoration: none;
padding: 5px;
font-size: 23px;
 color:rgb(230, 239, 244);
margin: 15px;
font-style: normal;
font-weight:500;
}
#header ul a:hover{
 color: rgb(0, 255, 213);
}
/* -----------------main---------------- */
#main{
    width: 100%;
}
#photo {
    position: relative; 
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: black; 
}
#photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.6; 
}
#write {
    position: absolute;
    top: 44%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    color: #f5f5f5c3;
    width: 100%;
}
#write h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
    color: #ffffffe2;
}
#write p{
    margin-top: 0.5%;
    font-size: 18px;
    font-weight: 500;
}
#write button{
   margin-top: 1%;
    padding: 14px;
    border-radius: 50px;
    background-color: #f85f5fc7;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffffb3;
}
#write button:hover{
    background-color: #b43c3c;;
}
#main{
    background-color: #2c2b2b6c;
   height: 100% auto;
}
 #why  h2{
margin-top: 2%;
text-align: center;
color: rgb(97, 15, 15);
font-size: 40px;
}
#why p{
    margin-top: 2%;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}
/* photo1 */
#whyph{
   display: flex;
  align-items: center;
  justify-content: space-between;
}
#whyph img{
    width: 30%;
    border-radius: 9%;
    margin-top: 10%;
    margin-left: 9%;
}
#whyph p{
  background: #111;
  color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  margin-top: 10%;
  margin-right:9% ;
}
/* photo2 */
#why2{
   display: flex;
  align-items: center;
  justify-content: space-between;
}
#why2 img{
    width: 30%;
    border-radius: 9%;
    margin-top: 10%;
    margin-right: 12%; 
}
#why2 p{
  background: #111;
  color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  margin-top: 10%;
  margin-left:7% ;
}
/* photo3 */
 #why3{
   display: flex;
  align-items: center;
  justify-content: space-between;
}
#why3 img{
    width: 30%;
    border-radius: 9%;
    margin-top: 7%;
    margin-left: 10%;
}
#why3 p{
  background: #111;
  color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  margin-top: 10%;
  margin-right:7% ;
}
/* photo4 */
#why4{
   display: flex;
  align-items: center;
  justify-content: space-between;
}
#why4 img{
    width: 30%;
    border-radius: 9%;
    margin-top: 8%;
    margin-right: 9%;
}
#why4 p{
  background: #111;
  color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  margin-top: 10%;
  margin-left:9% ;
}
/* ----------table--------- */
.table  {
     text-align: center;
     border-radius: 15px;
     width: 80%;
     margin: 40px auto;
     background: #111;
     color: #fff;
     border-collapse: collapse;
     font-family: Arial, sans-serif;
}
.table thead {
  background: #f03535c7;
}
.table th {
  padding: 16px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid #222;
}
.table td {
  padding: 14px;
  border-bottom: 1px solid #4f4d4d;
  font-size: 15px;
}
.table tbody tr:hover {
  background: #782929;
  transition: 0.3s;
}
/* -------------------footer---------------- */
#footer{
    background-color: #ff0000c7;
    height: 100px;
}
#footer p{
 text-align: center;
 font-size: 25px;
padding-top: 30px;
color: #ffffffde;
}
#icons{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px; 
}
#icons a{
 font-size: 22px; 
  margin-top: 1%;
  color: inherit;
}
@media (max-width: 600px) {

  #header{
    flex-direction: row;
    align-items: center;
    height: 70px;
    padding: 0 10px;
  }

  #header img{
    width: 45px;
    margin: 0;
  }

  #header p{
    margin: 0 10px;
    padding-top: 10px;
    font-size: 18px;
    float: right;
    white-space: nowrap;
  }

  #header ul{
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  #header ul a{
    font-size: 16px;
    margin: 0 6px;
    padding: 0;
  }
}
@media (max-width: 900px) {

  #header{
    flex-direction: row;
    align-items: center;
    height: 70px;
    padding: 0 10px;
  }

  #header img{
    width: 45px;
    margin: 0;
  }

  #header p{
    margin: 0 10px;
    padding-top: 10px;
    font-size: 18px;
    float: right;
    white-space: nowrap;
  }

  #header ul{
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  #header ul a{
    font-size: 16px;
    margin: 0 6px;
    padding: 0;
  }
}
