*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* ---------------------header--------------------- */
#header{
display:flex;
background-color: #ff0000c7;

justify-content: space-between;
height: 100px;

}
#header img{
width: 60px;
border-radius: 50%;
margin-left: 30px;
margin-top: 19px;
}
#header p{
 text-decoration: none;
 margin-left: 15px;
 font-size: 25px;
 color:rgb(230, 239, 244);
 font-style:inherit;
 float: right;
 margin-top: 35px;
}
#header ul{
list-style: none;
display: flex;
margin-top: 38px;
}
#header ul a{
text-decoration: none;
padding: 5px;
font-size: 23px;
color:rgb(230, 239, 244);
margin: 15px;
font-style: normal;
font-weight:500;
}
#header ul a:hover{
 color: rgb(0, 255, 213);
}
/*-----------------------main----------------------  */
.hero {
  height: 85vh;
  background-color: #161515;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: #fff;
}
.hero p {
  color: #cfcfcf;
  margin-bottom: 20px;
}
.btn {
  background-color: #9b3131;
  color: #fff;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}
.btn:hover {
  background-color: #b43c3c;
}
#library {
  padding: 40px 8%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  background-color: #2c2b2b6c;
}
.card {
  background-color: #ece6e6;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-8px);
}
.card img {
  width: 100%;
  height: 200px;
}
.card h3 {
  padding: 12px;
  text-align: center;
}
.card button {
  margin: 15px;
  width: calc(100% - 30px);
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #171616;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.card button:hover {
  background-color: #b43c3c;
}
/* -------------------footer---------------- */
#footer{
    background-color: #ff0000c7;
    height: 100px;
}
#footer p{
 text-align: center;
 font-size: 25px;
padding-top: 30px;
color: #ffffffde;
}
#icons{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px; 
}
#icons a{
 font-size: 22px; 
  margin-top: 1%;
  color: inherit;
}